
/* #contact-us-container{
height: 700px;
} */
[dir="ltr"] #contact-us-desc{
    margin: 50px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    max-width: 825px;
}
#contact-us-form {
    margin: 50px auto;
    max-width: 525px;
}
.contact-control-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--blue);
    margin-bottom: 10px;
}

#other-info-txtarea::-webkit-input-placeholder {
    position: absolute;
    top:calc(50% - 12px);
}
#other-info-txtarea:-moz-placeholder {
    /* Firefox 18- */
    position: absolute;
    top:calc(50% - 12px);
}
#other-info-txtarea::-moz-placeholder {
    /* Firefox 19+ */
    position: absolute;
    top:calc(50% - 12px);
}
#other-info-txtarea:-ms-input-placeholder {
    position: absolute;
    top:calc(50% - 12px);
}



[dir="rtl"] #contact-us-container h1{
    right: calc(50% - 80px);
    width: fit-content;
}

[dir="ltr"] #contact-us-desc{
    max-width: 825px;
}

[dir="rtl"] #contact-us-desc{
    margin: 50px auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}
[dir="rtl"] #contact-us-desc{
    width: 535px;
}
#mobile-address-contact{
    width: calc(var(--mobile-max-size) - 50px);
    height: 190px;
    position: absolute;
    top: 120px;
    background-color: white;
    border-radius: 10px;
    left:calc(50% - 165px);
    padding: 25px 65px;
}
.contact-us-item{
    display: flex;
    width: 198px;
    align-items: flex-start;

}
.contact-us-item h3{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.contact-us-item p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}