#footer{
    background-color: var(--blue);
    color: white;
    font-family: Inter;
  }
  #footer h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 64px;
  }
  #footer .nav-link{
    color: rgb(250, 250, 250,0.7);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
  }
  #follow-us{
    margin-bottom: 70px;
  }

  #follow-us .social-icon-link{
    margin-inline-end: 18px;
  }
/* #newsletter{
  width: 245px;
} */
#footer form .btn{
  background-color: var(--gray-6);
  color:#333333;
  padding: 8px 32px;
  border-radius: 100px;
}

#footer .border-top
{
    border-color: rgba(75, 91, 101, 1) !important;
}
#footer .footer-bottom .nav-link,
#footer .header-location
{
  color: white !important;
}