#register-container{
    height: auto;
    
}
#register-container-form{
    background-color: var(--light-gray);
    margin: 0 auto;
    max-width: 784px;
    padding: 50px 0px;
    text-align: center;
}
.btn-reg-sign{
    width: 460px;
    margin: 0 auto;
    padding:15px 30px;
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
#register-inner-container{
    margin: 0 auto;
}
#register-inner-container h1{
    width: fit-content;
    margin: 0 auto;
}
.google-btn,
.google-btn:hover{
    background-color: rgba(70, 136, 241, 1);

}
.facebook-btn,
.facebook-btn:hover{
    background-color: rgba(68, 105, 176, 1);
  
}
.phone-btn{
    background-color: rgba(55, 136, 191, 1);

}
.email-btn{
    background-color: transparent;
    color: rgba(78, 97, 42, 1);
}