#register-container{
    height: auto;
    
}
#register-container-form{
    background-color: var(--light-gray);
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
}
#register-container-form h1{
    font-size: 24px;
    line-height: 36px;
    color:rgba(55, 136, 191, 1);
    margin-bottom: 30px;
    font-family: auto;
    font-weight: 700;
}
.btn-reg-sign{
    /* width: 460px; */
    margin: 0 auto;
    padding:15px 30px;
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
#register-inner-container{
    margin: 0 auto;
}
#register-inner-container h1{
    width: fit-content;
    margin: 0 auto;
}
.google-btn,
.google-btn:hover{
    background-color: rgba(70, 136, 241, 1);

}
.facebook-btn,
.facebook-btn:hover{
    background-color: rgba(68, 105, 176, 1);
  
}
.phone-btn,
.phone-btn:hover{
    background-color: rgba(55, 136, 191, 1);

}
.email-btn,
.email-btn:hover{
    background-color: white;
    color: rgba(78, 97, 42, 1);
    border: 1px solid rgba(78, 97, 42, 1);
}
#or-register{
    margin: 50px auto;
    /* width: 460px; */
    border-top: 2px solid rgba(55, 136, 191, 1);
    position: relative;
}
#or-register p{
    font-family: Inter;
    font-Weight: 700;
    font-size: 16px;
    Line-height: 24px;
    position: absolute;
    left: calc(50% - 75px);
    top: -14px;
    background: transparent;
    margin: 0px;
    background-color: var(--light-gray);
    width: 150px;
}
