@media screen and (max-width: 576px) {
    .banner-img {
        height: auto;
        width: 100%;
    }
    #featued-listing h2,
    #journey-with-us h2{
        font-size: 24px;
    }
    #journey-with-us h2,
    #journey-with-us-inner {
        max-width: var(--mobile-max-size);
    }
    #footer h5{
        font-size: 16px;
        line-height: 28px;
      }
    #footer .nav-link{
        font-size: 14px;
        line-height: 20px;
    }
    #footer-form input{
        width: 50%;
    }
    #footer #logo-footer{
        width: 108px;
    }
    .banner-intro h1 {
        top: 70px;
        font-size: 24px;
        line-height: 32px;
       text-align: center;
    }
    [dir="ltr"] .banner-intro h1{
        left: calc(50% - 190px);
    }
    [dir="rtl"] .banner-intro h1{
        right: calc(50% - 120px);
    }
    #home-selections .card-home {
        width: 365px;
        margin-inline: auto;
    }
    #search-section {
        max-width: var(--tablet-max-size);
        margin: 30px 15px;
        height: 410px;
        padding: 24px 10px;
    }

    #price,
    #bred,
    #compound-name {
        width: 100%;
        margin-bottom: 15px;
    }

    #search-section #search-tabs,
    #search-section .input-group,
    #search-section #search-numeric-controls {
        margin-bottom: 20px;
    }
    #featued-listing{
        padding: 50px 0px;
    }
    #featued-listing #features-header{
        max-width: var(--mobile-max-size);
    }
    #sell-form {
        margin: 50px auto;
        max-width: var(--mobile-max-size);
    }
    .step-number{
        font-size: 28px;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: -24.5px;
    }
    #sell-intro-container{
        padding-bottom: 1px !important;
    }
    #sell-steps {
        max-width: var(--mobile-max-size);
        margin: 60px auto;
    }
    .step-desc {
        font-size: 16px;
        line-height: 25px; 
    }
    .steps {
        width: 120px;
    }
    [dir="rtl"] #sell-intro-container .step-desc{
        font-size:16px;
        Line-height: 23.52px;

    }
    [dir="rtl"] .steps{
        padding: 45px 15px !important;
    }
    [dir="rtl"] #sell-intro-container h1{
        right: calc(50% - 180px) !important;
    }
    #search-filters-widgets{
        max-width: var(--mobile-max-size);
        margin: 10px auto 0px auto;
        justify-content: space-between;
    }
    /* #search-result-section{
        max-width: var(--mobile-max-size);
    } */
    #more-search-section{
        max-width: var(--mobile-max-size);
    }
    #reset-div{
        padding-bottom: 5PX;
    }
    /* #search-result-categories{
        max-width: var(--mobile-max-size);
    } */
    #search-result-section h2{
        font-size: 24px;
        line-height: 26px;
        display: flex;
    }
    #search-result-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #search-header-banner h1{
        left: calc(50% - 150px);
    }

    [dir="rtl"] #search-header-banner h1{
        right: calc(50% - 75px);
    }
    #contact-us-desc{
        width: var(--mobile-max-size);
        text-align: center;
    }
    #contact-us-form-container{
        width: var(--mobile-max-size);
        margin: 0 auto;
    }
    [dir="ltr"] #contact-us-container h1{
        left: calc(50% - 150px);
    }
    #contact-us-container .banner-img{
        height: 385px;
    }
    [dir="rtl"] #mobile-address-contact{
        display: none;
    }
    #register-container-form{
        max-width: var(--mobile-max-size);
    }
    #register-container-form .btn-reg-sign,
    #or-register,
    #register-container-form .form-control,
    #register-container-form #forget-pass,
    #register-container-form .reg-instructions,
    .error-msg{
        width: 350px;
    }
  
}

@media (min-width: 576px) and (max-width: 768px) {
    #journey-with-us h2,
    #journey-with-us-inner {
        max-width: var(--tablet-max-size);
    }
    #journey-with-us img {
        width: 350px;
        height: 295px;
    }
    #home-selections .card-home {
        width: 235px;
    }
    #home-selections .card-home img{
        width: 200px;
    }
    #featued-listing #features-header {
        max-width: var(--tablet-max-size);
    }
    .banner-intro h1 {
        top: 350px;
        margin: 0 5%;
        text-align: center;
    }
    #search-section {
        max-width: var(--tablet-max-size);
        margin: 30px auto;
        height: 410px;
        padding: 24px;
    }

    #price,
    #bred,
    #compound-name {
        width: 100%;
        margin-bottom: 15px;
    }

    #search-section #search-tabs,
    #search-section .input-group,
    #search-section #search-numeric-controls {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 769px) {
    #journey-with-us h2,
    #journey-with-us-inner {
        max-width: var(--desktop-max-size);
    }
    #journey-with-us img {
        width: 425px;
        height: 295px;
    }
    #featued-listing #features-header {
        max-width: var(--desktop-max-size);
    }
    #featued-listing h2,
    #journey-with-us h2 {
        font-size: 36px;
    }
    #home-selections .card-home {
        width: 305px;
    }
    .banner-intro {
        height: 900px;
    }
    .banner-img {
        width: 100%;
        height: 500px;
    }
    #footer h5{
        font-size: 24px;
        line-height: 64px;
      }
    #footer .nav-link{
        font-size: 16px;
        line-height: 24px;
    }
    #footer-form input{
        width: 55%;
    }
    .banner-intro h1 {
        bottom: 50px;
        font-size: 48px;
        line-height: 70px;
        left: calc(50% - 385px);
    }
    #search-section {
        position: absolute;
        width: var(--desktop-max-size);
        height: 345px;
        padding: 24px;
    }

    #price,
    #bred {
        width: fit-content;
    }

    #search-section #search-tabs,
    #search-section .input-group,
    #search-section #search-numeric-controls {
        margin-bottom: 35px;
    }
    #featued-listing{
        padding-top: 190px;
        padding-bottom: 190px;
    }
    .search-result-item {
        width: 295px;
        height: 292px;
    }
    #sell-form {
        margin: 50px auto;
        max-width: 525px;
    }
    .step-number{
        font-size: 44px;
        width: 75px;
        height: 75px;
        left: calc(50% - 38.5px);
        top: -38.5px;
    }
    #sell-steps {
        max-width: var(--desktop-max-size);
        margin: 116px auto;
    }
    .step-desc {
        font-size: 20px;
        line-height: 25px; 
    }
    [dir="rtl"] #sell-intro-container .step-desc{
        font-size: 24px;
        line-height: 35px;
    }
    [dir="rtl"] .steps{
        padding: 50px 25px !important;
    }
    [dir="rtl"] #sell-intro-container h1{
        right: calc(50% - 350px) !important;
    }
    #search-filters-widgets{
        max-width: var(--desktop-max-size);
        margin: 0 auto;
    }
    #search-filters{
        padding: 75px 250px;
    }
    #search-result-section{
        max-width: var(--desktop-max-size);
    }
    #more-search-section{
        max-width: var(--desktop-max-size);
    }
    #search-result-categories{
        max-width: var(--desktop-max-size);
    }
    #search-result-section h2{
        font-size: 36px;
        line-height: 42px;
    }
    #search-result-section #result-count{
        font-size: 14px;
        margin-bottom: 0px;
        position: absolute;
        right: -35px;
        bottom: -5px;
    }
    #search-result-section{
        padding-top: 130px;
        padding-bottom: 130px;
    }
    #more-search-section{
        margin: 60px auto;
    }
    [dir="ltr"] #contact-us-desc{
        width: 830px;
    }
    #contact-us-container {
        height: 700px;
    }
    [dir="ltr"] #contact-us-container h1{
        left: calc(50% - 300px);
    }
    #mobile-address-contact{
        display: none;
    }
    #register-container-form{
        max-width: 784px;
    }
    #register-container-form .btn-reg-sign,
    #or-register,
    #register-container-form .form-control,
    #register-container-form #forget-pass,
    #register-container-form .reg-instructions,
    .error-msg
    {
        width: 460px;
    }
}  
