@font-face {
    font-family: dinregular;
    src: url(../fonts/Arabic/din-next-lt-w23-regular.ttf);
}
.banner-intro h1{
    right: calc(50% - 192px);
    width: fit-content;
}
#search-section .input-group-text{
    border-left: 0px;
    border-right:1px solid #ced4da;
}
#search-section #search-txt{
    border-right: 0px;
}
body,
.banner-intro h1,
#search-section  #search-options-link,
#featued-listing h2,
.search-result-item .badge-bottom .price,
.search-result-item .location,
.search-result-item .status,
.beds p,
#home-selections .card-home .desc,
#home-selections .card-home .btn,
#journey-with-us h2,
#journey-with-us p,
.widget-cat .title, .widget-cat .number,
.sell-control-label,
#sell-intro-container .step-desc,
#sell-intro-container .step-number,
#contact-us-desc,
#contact-us-container h1,
#register-container-form h1,
#register-container-form .btn-reg-sign,
#or-register p,

.contact-control-label,
#footer{
font-family: dinregular !important;
}
#search-result-section #result-count{
    left: -35px;
    right: unset;
}
#sell-intro-container .step-desc{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
}

