.banner-intro h1 {
    left: calc(50% - 305px);
}

#search-filters {
    /* padding: 75px 250px; */
    background-color: var(--light-gray);
}

.banner-intro {
    height: auto !important;
}

#search-section {
    position: initial;
    margin: 0 auto;
}

#more-search-section h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
}

#more-search-section .search-lbl {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    max-width: 125px;
}

#reset-div {
    text-align: center;
    margin-top: 25px;
}

#reset-div a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}

#search-result-section {
    background-color: white;
}

#search-result-header {
    max-width: 960px;
    margin: 0 auto;
}

#search-result-section h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;

    position: relative;
}

#unit-details-search-result-outer-container,
#unit-details-suggested-outer-container {
    background-color: var(--light-gray);
    padding-top: 50px;
}

#unit-details-search-result-inner-container,
#unit-details-desc-inner-container,
#unit-details-suggested-inner-container,
#unit-details-info-inner-container {
    margin: 0 auto;
}

#unit-details-search-result-header h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 70px; */
}

#unit-details-desc-outer-container {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#unit-details-desc-inner-container h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

#unit-details-desc-inner-container .header {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

#unit-details-desc-inner-container .desc {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

#unit-details-suggested-inner-container h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 70px;
}

.amenities-item {
    display: flex;
    align-items: center;
}

.amenities-item p {
    margin-bottom: 0px;
    margin-inline-start: 5px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}

.amenities-media {
    text-align: center;
}

.amenities-media p {
    color: rgba(162, 6, 17, 1);
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
}
@media screen and (max-width: 768px) 
{
    #unit-details-basic-info{
        flex-wrap: wrap;
    }
    /* #unit-details-info-card-container{
        padding: 10px;
    } */
    #imags-container img:not(:first-child){
        width: 46%;
    }
    #unit-details-info-card-container #unit-details-info-container {
        padding: 10px 5px 50px 5px;
    }
    #unit-details-search-result-header h2{
        line-height: 30px;
    }
    #unit-info-payment,
    #unit-info-period{
        line-height: 30px;
    }
}
@media screen and (min-width: 1024px) {

    #unit-details-search-result-inner-container,
    #unit-details-desc-inner-container,
    #unit-details-suggested-inner-container,
    #unit-details-info-inner-container {
        max-width: var(--desktop-max-lg-size);

    }

    #unit-details-search-result-categories>div:first-child {
        width: 80%;
    }

    #unit-details-info-outer-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #unit-details-info-container>h3:first-child {
        margin-bottom: 70px;
    }

    #unit-details-info-container h3:nth-child(n+2) {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #unit-details-info-card-container #imags-container,
    #unit-details-info-card-container #unit-details-info-container {
        width: 49.5%;
    }
    #unit-details-info-card-container{
        padding: 15px;
    }
    #imags-container img:not(:first-child){
        width: 47.5%;
    }
    #unit-details-info-card-container #unit-details-info-container {
        padding: 10px 25px 50px 25px;
    }
    #unit-details-info-card-container {
        width: 100%;
        border: 1px solid rgba(148, 136, 129, 1);
        
        margin-top: 150px;
    }
    #unit-details-search-result-header h2{
        line-height: 70xp;
    }
    #unit-info-payment,
    #unit-info-period{
        line-height: 14px;
    }
}



#unit-details-info-card-container #imags-container,
#unit-details-info-card-container #unit-details-info-container {
    border: 1px solid rgba(148, 136, 129, 1);
}


#unit-details-info-card-container #imags-container{
    /* padding: 10px; */
    /* display: inline-table; */
    overflow-x: hidden;
    overflow-y: scroll;
    height: 811px;
}
#unit-details-info-card-container #imags-container img{
    margin: 5px;
    /* width: 100%; */
}
/* width */
#imags-container::-webkit-scrollbar {
    width: 10px;
  }
  

   
  /* Handle */
  #imags-container::-webkit-scrollbar-thumb {
    background: var(--blue); 
    border-radius: 10px;
  }
  #unit-details-basic-info{
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }
  
  #unit-details-basic-info #unit-info h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    color: var(--blue); 
  }
  #unit-info-details{
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
  }
  #unit-info-location{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
  }
  #unit-info-min-price{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    color: var(--blue); 
  }
  #unit-info-price{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: var(--red); 
  }
  #call-us-block,
  #whatsapp-block{
    display: flex;
    align-items: end;
    padding: 10px;
  }
  #call-us-block p,
  #whatsapp-block p{
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
    margin-inline: 10px;
  }
  #call-us-block p{
    color: var(--red); 
  }
  #whatsapp-block p{
    color: rgba(96, 214, 104, 1); 
  }
#unit-info-years{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0px;
}
#unit-info-payment{
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
    /* line-height: 14px; */
}
#unit-info-period{
    font-family: Inter;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0px;
    /* line-height: 14px; */
}
  .blocks{
    border: 1px solid var(--blue);
    padding: 15px 10px;
  }

#unit-details-info-container h3 {
    color: rgba(162, 6, 17, 1);
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    text-align: center;
}

.info-record .lbl {
    color: rgba(148, 136, 129, 1);
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 14px; */
    width: 50%;
}

.info-record .value {
    color: rgba(51, 51, 51, 1);
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 14px; */
    width: 50%;
}

.info-record {
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    /* padding-bottom: 5px; */
    padding-inline: 10px;
    display: flex;
    line-height: 30px;
}

.value-header {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
}