.widget{
    
  
    border: 1px solid #948881;
    border-radius: 8px !important;
    text-align: center;
  
}

.widget .title{
    font-family: 'Inter';
    font-style: normal;
    
    margin-top: 25px;
}
.widget-cat{
   
    border: 1px solid #948881;
    border-radius: 8px;
    
    text-align: center;
    margin-bottom: 35px;
}
.widget-cat .title,.widget-cat .number{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    /* font-size: 18px;
    line-height: 26px; */
}
.widget-cat .number{
    margin-bottom: 0px;
}
/* .selected{
    color: white;
    background-color: var(--blue);
} */
@media screen and (max-width: 576px) {
    .widget{
        padding: 10px 0px;
        width: 90px;
        margin-bottom: 10px;
        height: 120px;
    }
    .widget img{
        width: 40px;
        height: 40px;
    }
    .widget .title{
        font-size: 14px;
        line-height: 14px;
    }
    .widget-cat .title,.widget-cat .number{
        font-size: 11px;
        line-height: 13.5px;
        font-weight: 300;
    }
    .widget-cat{
        width: 68px;
         
    }
    #search-result-categories .nav-link{
        padding-inline: 0px;
    }
}
@media screen and (min-width: 769px) {
    .widget img{
        width: 50px;
        height: 50px;
    }
    .widget .title{
        font-size: 18px;
        line-height: 26px;
    }
    .widget{
        padding: 10px;
        width: 150px;
        margin-bottom: 35px;
        height: 138px;
        margin-inline-end: 10px;
    }
    .widget-cat .title,.widget-cat .number{
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
    }
    .widget-cat{
        width: 151px;
        /* padding: 5px 15px; */
    }
}
#search-filters-widgets .btn{
    color:black;
}
#search-filters-widgets .btn-check:checked + .btn,
#search-filters-widgets .btn.active,
#search-filters-widgets .btn.show,
#search-filters-widgets .btn:first-child:active,
#search-filters-widgets :not(.btn-check) + .btn:active {
    color: white !important;
    background-color: var(--blue);
    border-color: var(--blue);
}